<header id="home" class="w-100">
    <span class="mask mask-dark"></span>
    {% include navbar.html %}
    <div class="d-flex flex-column justify-content-around align-items-center h-100 container pt-4">
        {% comment %} <img class="w-75" src="{{ site.logo | absoulte_url }}" /> {% endcomment %}
        <h1 class="position-relative text-white text-center h3 pt-4 m-0">
            SOUTHERN CALIFORNIA'S BEST IN DJ AND EVENT PRODUCTION
        </h1>
        <div class="d-flex flex-column">
            <h2 class="position-relative text-white text-center h5 pb-3 m-0">
                Professional &bull; Experienced &bull; Insured
            </h2>
            <div class="alert border bg-transparent" role="alert">
                <h5 class="text-white text-center">We are Back! 🥳</h5>
                <p class="text-white text-justify m-0">Thanks for all your support during these difficult times.  We are excited to be announce we are once again available for any of your event-planning needs</p>
            </div>
            <div class="position-relative d-flex align-items-center justify-content-center flex-column">
                <div>
                    <a href="contact.html" class="btn-book-me py-3 px-5 btn bg-gradient btn-round border-0">Book Me!</a>
                </div>
                <div class="d-flex justify-content-center my-2">
                    <a class="m-1 border-0 btn btn-contact rounded-circle d-flex align-items-center justify-content-center"
                        style="background-color: #000" href="{{ site.instagramUrl }}" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="m-1 border-0 btn btn-contact rounded-circle d-flex align-items-center justify-content-center"
                        style="background-color: #3c5a99" href="{{ site.facebookUrl }}" target="_blank">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="m-1 border-0 btn btn-contact rounded-circle d-flex align-items-center justify-content-center"
                        style="background-color: #9146ff" href="{{ site.twitchUrl }}" target="_blank">
                        <i class="fab fa-twitch"></i>
                    </a>
                </div>
            </div>
        </div>
         {%- comment -%} 
         style="background-image: url('https://images.pexels.com/photos/619420/pexels-photo-619420.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'); background-size: cover; background-repeat: no-repeat; background-position: center;"
         <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="/assets/Halloween Flyer.pdf" allowfullscreen></iframe>
            </div> {%- endcomment -%}
    </div>
</header>
