<header id="home">
    <span class="mask mask-dark"></span>
    {% include navbar.html %}
    <div class="d-flex flex-column justify-content-around align-items-center h-100 pt-4 container">
        {% comment %} <img class="w-75" src="{{ site.logo | absoulte_url }}" /> {% endcomment %}
        <h1 class="position-relative text-white text-center h2 py-4">
            SOUTHERN CALIFORNIA'S BEST IN DJ AND EVENT PRODUCTION
        </h1>
        <div class="d-flex flex-column">
            <h2 class="position-relative text-white text-center h5 py-3">
                Professional &bull; Experienced &bull; Insured
            </h2>
            {%- comment -%} <div class="alert text-center border bg-transparent" role="alert" style="background-image: url('https://images.pexels.com/photos/619420/pexels-photo-619420.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'); background-size: cover; background-repeat: no-repeat; background-position: center;">
                <h3 class="text-white">Haunted Walk of Fear</h3>
                <p class="text-white">Are you ready for Halloween? We are set and ready for this year's haunted house. Stay tuned for our 3rd annual haunted house directions and times. </p>
            </div> {%- endcomment -%}
            <div class="position-relative d-flex justify-content-center">
                <a href="contact.html" class="btn-book-me py-3 px-5 btn bg-gradient btn-round border-0">Book Me!</a>
            </div>
        </div>
         {%- comment -%} <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="/assets/Halloween Flyer.pdf" allowfullscreen></iframe>
            </div> {%- endcomment -%}
    </div>
</header>
