.service-card.card {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px -1px;
    background-color: #f5fafd;
    .btn {
        width: 8rem;
    }
    .package-title {
        // padding: 25px 5px;
        margin-left: -1.25rem;
        margin-right: -1.25rem;
        // font-size: 22px;
        font-family: "Dosis", "Helvetica", Arial, sans-serif;
        font-weight: 600;
        span {
            font-family: "Dosis", "Helvetica", Arial, sans-serif;
            font-weight: 600;
            font-size: 38px;
        }
    }
    .price-section {
        padding: 25px 5px;
        background-color: white;
        margin-left: -1.25rem;
        margin-right: -1.25rem;
        font-size: 28px;
        font-family: "Dosis", "Helvetica", Arial, sans-serif;
        font-weight: 600;
        span {
            font-family: "Dosis", "Helvetica", Arial, sans-serif;
            font-weight: 600;
            font-size: 38px;
        }
    }
    ul li {
        font-size: 14px;
        line-height: 1.25;
        border-bottom: 1px dashed #eee;
    }
    .text-small {
        font-size: 90%;
        opacity: 0.75;
    }
}

.service-carousel {
    .flickity-button {
        &.next {
            right: -10px;
        }
        &.previous {
            left: -10px;
        }
    }
}
