---
layout: default
title: Gallery
permalink: gallery.html
---

<section class="gallery" id="gallery">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="d-flex flex-column align-items-center">
                    <h3 class="text-center">Gallery</h3>
                    <span class="header-span bg-gradient mb-5"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card-columns">
                {% for picture in site.data.gallery.pictures1 %}
                <div class="card">
                    <a data-featherlight="{{picture.url | replace: " ", ""}}" href="#">
                        <img class="class=" card-img rounded-0 border-0" style="width: 100%;"" src=" {{ picture.url |
                            absolute_url }}" alt="Gallery image" />
                    </a>
                </div>
                {% endfor %}
                {% for picture in site.data.gallery.pictures2 %}
                <div class="card">
                    <a data-featherlight="{{picture.url | replace: " ", ""}}" href="#">
                        <img class="class=" card-img rounded-0 border-0" style="width: 100%;"" src=" {{ picture.url |
                            absolute_url }}" alt="Gallery image" />
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="row d-flex flex-column pb-5 m-0" style="height: 30rem">
            <div class="gallery-videos h-100">
                {% for video in site.data.gallery.videos %}
                <div class="col-sm-12 col-md-4 h-100 p-0">
                    <div class="embed-responsive embed-responsive-1by1">
                        <iframe class="embed-responsive-item" allow="autoplay; encrypted-media" allowfullscreen
                            src="{{video.url}}?rel=0"></iframe>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>