---
layout: default
title: Gallery
permalink: gallery.html
---

<section class="gallery" id="gallery">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="d-flex flex-column align-items-center">
                    <h3 class="text-center">Gallery</h3>
                    <span class="header-span bg-gradient mb-5"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card-columns" style="width:100%">
                {% for picture in site.data.gallery.pictures %}
                <div class="card border-0" style="min-height: {{picture.height}}px; background-color: black;">
                    <a class="position-absolute" data-featherlight="{{picture.url | replace: " ", "" }}" href="#" style="top: 0; right: 0; bottom: 0; left: 0;">
                        <img class="card-img rounded-0 border-0" style="width: 100%; height: 100%; object-fit: cover; object-position: center;"
                            src="{{ picture.url | prepend: "__gallery__/" | absolute_url }}" alt="Gallery image"
                             />
                    </a>
                </div>
                {% endfor %}
               
            </div>
        </div>
        <div class="row d-flex flex-column pb-5 m-0" style="height: 30rem">
            <div class="gallery-videos h-100">
                {% for video in site.data.gallery.videos %}
                <div class="col-sm-12 col-md-4 h-100 p-0">
                    <div class="embed-responsive embed-responsive-1by1">
                        <iframe class="embed-responsive-item" allow="autoplay; encrypted-media" loading="lazy" allowfullscreen
                            src="{{video.url}}?rel=0"></iframe>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>