--- 
layout: default 
title: Services 
permalink: services.html 
---
<section class="services">
    <div class="container">
        <div class="row pb-5">
            <div class="col-lg-12">
                <div class="d-flex flex-column align-items-center">
                    <h3 class="text-center">Services</h3>
                    <span class="header-span bg-gradient"></span>
                </div>

                <p class="lead py-4">
                    A Town Mouse once visited a relative who lived in the country. For lunch the Country Mouse served wheat stalks, roots, and
                    acorns, with a dash of cold water for drink.
                </p>
            </div>
        </div>

        {% for type in site.data.services.eventTypes %}
            <div class="row pt-5">
                <div class="col-lg-12">
                    <div class="d-flex flex-column align-items-center">
                        <h5 class="text-center">{{type.name}}</h5>
                        <span class="header-span bg-gradient"></span>
                        <p class="py-3">{{type.description}}</p>
                    </div>
                </div>
            </div>
            <div class="row d-flex flex-wrap pb-5">
                {% for package in type.packages %}
                    <div class="col-lg-4 col-md-6 col-12 mb-3">
                        <div class="service-card card h-100 text-center">
                            <div class="card-body pt-0">
                                <div class="h5 mt-0 bg-gradient text-white package-title">{{package}}</div>
                                <ul class="list-unstyled text-muted m-0">
                                    {% for feature in site.data.services.packages[package].features %}
                                        <li class="pt-3">{{feature | markdownify | smartify}}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="card-footer">
                                <p class="text-muted text-small">
                                    {{package.details}}
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
        
        {% comment %} <div class="row d-flex flex-wrap pb-5">
        {% for package in site.data.services.schools %}
            <div class="col-lg-4 col-md-6 col-12 mb-3">
                <div class="service-card card h-100 text-center">
                    <div class="card-body pt-0">
                        <div class="h5 mt-0 bg-gradient text-white package-title">{{package.title}}</div>
                        <ul class="list-unstyled text-muted m-0">
                            {% for feature in package.features %}
                                <li class="pt-3">{{feature | markdownify | smartify}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="card-footer">
                        <p class="text-muted text-small">
                            {{package.details}}
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div> {% endcomment %}
    </div>
</section>