<header id="home">
    <span class="mask mask-dark"></span>
    {% include navbar.html %}
    <div class="d-flex flex-column justify-content-around align-items-center h-100 pt-4 container">
        {% comment %} <img class="w-75" src="{{ site.logo | absoulte_url }}" /> {% endcomment %}
        <h1 class="position-relative text-white text-center h2 py-4">
            SOUTHERN CALIFORNIA'S BEST IN DJ AND EVENT PRODUCTION
        </h1>
        <div class="d-flex flex-column">
            <h2 class="position-relative text-white text-center h5 py-3">
                Professional &bull; Experienced &bull; Insured
            </h2>
            <div class="alert text-center border bg-transparent" role="alert">
                <small class="text-white">
                    Have you recently contacted me through my website? Please do so again and make sure to leave your
                    phone number.
                </small>
            </div>
            <div class="position-relative d-flex justify-content-center">
                <a href="contact.html" class="btn-book-me py-3 px-5 btn bg-gradient btn-round border-0">Book Me!</a>
            </div>
        </div>
    </div>
</header>
