<div id="carouselExampleIndicators" class="h-100 carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        {% for slide in site.data.header-carousel %}
        <li data-target="#carouselExampleIndicators" data-slide-to="{{forloop.index0}}" class="{% if forloop.first %}active{% endif %}"></li>
        {% endfor %}
    </ol>
    <div class="carousel-inner">
        {% for slide in site.data.header-carousel %}
        <div class="d-flex flex-column carousel-item item {% if forloop.first %}active{% endif %}" style="background-image: url('{{slide}}')">
            {% comment %} <h1 class="text-white text-center">SOUTHERN CALIFORNIA'S BEST IN DJ AND EVENT PRODUCTION</h1> {% endcomment %}
        </div>
        {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>