<header id="home">
    {% include navbar.html %}
    <div class="d-flex flex-column justify-content-center align-items-center h-100 pt-4 container">
        <img class="w-75" src="{{site.logo | absoulte_url}}">
        <h1 class="text-white text-center h4 py-4">SOUTHERN CALIFORNIA'S BEST IN DJ AND EVENT PRODUCTION</h1>
        <div class="d-flex justify-content-center">
            <a href="contact.html" class="btn-book-me py-3 px-5 btn bg-gradient btn-round border-0">Book Me!</a>
        </div>
    </div>
</header>