<ul class="list-inline social-buttons d-flex text-center m-0">
    <li class="list-inline-item mr-3">
        <a class="btn btn-dark rounded-circle d-flex align-items-center justify-content-center" href="tel:{{site.phoneHref}}" target="_blank">
            <i class="fas fa-phone"></i>
        </a>
    </li>
    <li class="list-inline-item mr-3">
        <a class="btn btn-dark rounded-circle d-flex align-items-center justify-content-center" href="{{site.facebookUrl}}" target="_blank">
            <i class="fab fa-facebook"></i>
        </a>
    </li>
    <li class="list-inline-item mr-3">
        <a class="btn btn-dark rounded-circle d-flex align-items-center justify-content-center" href="{{site.instagramUrl}}" target="_blank">
            <i class="fab fa-instagram"></i>
        </a>
    </li>
    <li class="list-inline-item mr-3">
        <a class="btn btn-dark rounded-circle d-flex align-items-center justify-content-center" href="mailto:{{site.email}}">
            <i class="fas fa-envelope"></i>
        </a>
    </li>
</ul>